/programming contests/lights/nbproject/private/
/programming contests/lights/build/
/Codechef/CodeChef_Gf/nbproject/private/
/Codechef/CodeChef_Gf/build/
/Codechef/BallHoles/nbproject/private/
/Codechef/BallHoles/build/
/Codechef/CodeChef_Gf/dist/
/Codechef/KidsInAcademy/nbproject/private/
/Codechef/KidsInAcademy/build/
/Codechef/KidsInAcademy/dist/
/Codechef/Carmichael/nbproject/private/
/Codechef/Carmichael/build/
/Codechef/PrimeCodeChef/nbproject/private/
/Codechef/PrimeCodeChef/build/
/Codechef/GridProb/nbproject/private/
/Codechef/GridProb/build/
/Codechef/Authentication/nbproject/private/
/Codechef/Authentication/build/
/Bapan's/BST/nbproject/private/
/Bapan's/BST/build/
/Bapan's/ProjectBinaryTree/nbproject/private/
/Bapan's/ProjectBinaryTree/build/
/programming contests/Conjectured/nbproject/private/
/programming contests/Conjectured/build/
/Codechef/ClosingTweets/nbproject/private/
/Codechef/ClosingTweets/build/
/Codechef/Marbles/nbproject/private/
/Codechef/Marbles/build/
/Codechef/NextPalindrome/nbproject/private/
/Codechef/NextPalindrome/build/
/Codechef/IotTest/nbproject/private/
/Codechef/IotTest/build/
/Codechef/Maximum profit/JavaApplication17/nbproject/private/
/Codechef/Maximum profit/MaximumProf/nbproject/private/
/Codechef/Maximum profit/MaximumProf/build/
/Codechef/RootProblem/nbproject/private/
/Codechef/RootProblem/build/
/Codechef/SnckDwn16_kitchen/nbproject/private/
/Codechef/SnckDwn16_kitchen/build/
/Codechef/Snckdwn_SumArray/nbproject/private/
/Codechef/Snckdwn_SumArray/dist/
/php/nbproject/private/
/Codechef/GridProb/dist/
/Codechef/CODE WAR/friends Challenge/JoeyChallenge/nbproject/private/
/Codechef/CODE WAR/friends Challenge/JoeyChallenge/build/